In [2]:
# Importation des modules utilisés
import sqlite3
import pandas

In [4]:
# Création de la connexion
conn = sqlite3.connect("ClassicModel.sqlite")

In [8]:
# Récupération du contenu de Customers avec une requête SQL
customers = pandas.read_sql_query("SELECT * FROM Customers;", conn)
print(customers)

DatabaseError: Execution failed on sql 'SELECT * FROM Customers;': no such table: Customers

In [10]:
#1
clientsnocommande = pandas.read_sql_query(
   
    """SELECT c.customerName
    FROM Customers c LEFT JOIN Orders o ON c.customerNumber = o.customerNumber
    WHERE o.customerNumber IS NULL;""", conn)
print(clientsnocommande)

DatabaseError: Execution failed on sql 'SELECT c.customerName
    FROM Customers c LEFT JOIN Orders o ON c.customerNumber = o.customerNumber
    WHERE o.customerNumber IS NULL;': no such table: Customers

In [ ]:
#2



a = pandas.read_sql_query("""SELECT e.lastName, e.firstName,
                          COUNT(c.customerNumber) AS nombre_clients,
                          COUNT(o.orderNumber) AS nombre_commandes,
                          SUM(p.amount) AS montant_total_commandes
                         
                          FROM Employees e left join  Customers c ON e.employeeNumber = c.salesRepEmployeeNumber
                          left join Orders o ON c.customerNumber = o.customerNumber
                          left join Payments p ON c.customerNumber = p.customerNumber
                         
                          GROUP BY e.lastName, e.firstName""", conn)
print(a)

In [ ]:
b = pandas.read_sql_query("""SELECT b.officeCode,
                          COUNT(c.customerNumber) AS nombre_clients,
                          COUNT(o.orderNumber) AS nombre_commandes,
                          SUM(p.amount) AS montant_total_commandes,
                          COUNT(DISTINCT
                          CASE
                              WHEN c.country != b.country then 1
                              ELSE NULL
                              END) AS CustomersFromDifferentCountry
                         
                          FROM Offices b
                          left join Employees e on b.officeCode = e.officeCode
                          left join  Customers c ON e.employeeNumber = c.salesRepEmployeeNumber
                          left join Orders o ON c.customerNumber = o.customerNumber
                          left join Payments p ON c.customerNumber = p.customerNumber
                         
                          GROUP BY b.officeCode""", conn)
print(b)

In [ ]:
c = pandas.read_sql_query("""SELECT productName,
                          COUNT(OD.orderNumber) as Nombre_Commande,
                          COUNT(OD.quantityOrdered) as Qte_commande,
                          COUNT(distinct c.customerNumber)
                          FROM Products P
                          left join OrderDetails OD ON P.productCode = OD.productCode
                          left join Orders O ON OD.orderNumber = O.orderNumber
                          left join Customers c on O.customerNumber = c.customerNumber
                          Group by productName;
                          """, conn)
print(c)

In [ ]:
q5= pandas.read_sql_query("""SELECT c.country,
                          Count(o.orderNumber), od.quantityOrdered*od.priceEach, sum(p.amount)
                          FROM  Customers c
                          left join Orders o ON c.customerNumber = o.customerNumber
                          left join OrderDetails OD on o.orderNumber = OD.orderNumber
                          left join Payments p on c.customerNumber = p.customerNumber
                          group by country;""", conn)
print(q5)

In [ ]:
q6= pandas.read_sql_query("""SELECT p.productLine, c.country,
                          count(o.orderNumber) as nombre_commande
                          FROM Orders o
                          JOIN OrderDetails od ON o.orderNumber = od.orderNumber
                          JOIN Products p ON od.productCode = p.productCode
                          JOIN Customers c ON o.customerNumber = c.customerNumber
                          GROUP BY p.productLine, c.country
                          ORDER BY p.productLine, c.country;""",conn)
print(q6)

In [ ]:
q7= pandas.read_sql_query("""SELECT p.productLine,
                          c.country,
                          sum(pay.amount) as montant_total
                          FROM Orders o
                          JOIN OrderDetails od ON o.orderNumber = od.orderNumber
                          JOIN Products p ON od.productCode = p.productCode
                          JOIN Customers c ON o.customerNumber = c.customerNumber
                          JOIN Payments pay ON c.customerNumber = pay.customerNumber
                          GROUP BY p.productLine, c.country
                          ORDER BY p.productLine, c.country;""",conn)
print(q7)

In [ ]:
q8= pandas.read_sql_query("""SELECT p.productCode,
                          p.productName,
                          AVG(od.priceEach - p.buyPrice) AS avg_margin
                          FROM OrderDetails od
                          JOIN Products p ON od.productCode = p.productCode
                          GROUP BY p.productCode, p.productName
                          ORDER BY avg_margin DESC
                          LIMIT 10;""",conn)
print(q8)

In [ ]:
q9= pandas.read_sql_query("""SELECT p.productCode,
                          p.productName,
                          c.customerNumber,
                          c.customerName,
                          od.priceEach,
                          p.buyPrice
                          FROM OrderDetails od
                          JOIN Products p ON od.productCode = p.productCode
                          JOIN Orders o ON od.orderNumber = o.orderNumber
                          JOIN Customers c ON o.customerNumber = c.customerNumber
                          WHERE od.priceEach < p.buyPrice
                          ORDER BY p.productCode, c.customerNumber;""",conn)
print(q9)

In [ ]:
q10= pandas.read_sql_query("""SELECT c.customerNumber,
                           c.customerName,
                           SUM(pay.amount) AS total_paid,
                           SUM(od.quantityOrdered * od.priceEach) AS total_ordered_amount
                           FROM Customers c
                           JOIN Payments pay ON c.customerNumber = pay.customerNumber
                           JOIN Orders o ON c.customerNumber = o.customerNumber
                           JOIN OrderDetails od ON o.orderNumber = od.orderNumber
                           GROUP BY c.customerNumber, c.customerName
                           HAVING SUM(pay.amount) > SUM(od.quantityOrdered * od.priceEach)
                           ORDER BY total_paid - total_ordered_amount DESC;""",conn)
print(q10)

In [ ]:
# Fermeture de la connexion : IMPORTANT à faire dans un cadre professionnel
conn.close()